{% extends 'base.html.twig' %}

{% block title %}Study-on
{% endblock %}

{% block body %}
    Уважаемый клиент! У вас есть курсы, срок аренды которых подходит к концу:
    {% for course in courses %}
        <div>
            <b>{{ course.title }}</b>
            истекает
            <b>{{ course.expireAt| date("d.m.Y / h:i") }}</b>
        </div>
    {% endfor %}
{% endblock %}
